*{
	font-family: Arial, 'Liberation Sans', 'DejaVu Sans', sans-serif;
	color:#555555;
}

.content{
	width: 800px;
	margin: 30px auto;			
}

h2{
	border-bottom: solid 1px #CCCCCC;
	padding-top: 30px;
	padding-bottom: 10px;		
}

a, a:hover{
	color: #0077CC;
}

a:visited{
	color:#4A6B82;
}

.clear-fix{
	clear: both;
}

.element,
.test{
	float: left;
	width: 45%;
	height: 55px;
}